@import "./base";
@import "./fonts";
@import "./reset";

html {
  color: $mainColor;
  font-size: 14px;
  font-family: $mainFont;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: $bg-gradient;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &__qwizz {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 180px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    &-alert {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-window {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px 0;
    }

    &-heading {
      max-width: 320px;
    }
    @media (max-width: 425px) {
      &-heading {
        max-width: 280px;
      }
    }

    &-options {
      &-item {
        display: flex;
        gap: 6px;
        align-items: center;
        line-height: 30px;
        border-bottom: 1px solid $doubleColor;
      }
    }
  }

  @media (max-width: 425px) {
    &__qwizz {
      min-width: 280px;
      padding: 0;

      &-window {
        padding: 35px 10px;
      }
    }
  }
}

.button {
  width: 100%;
  height: 30px;
  color: #d3d3d3;
  font-family: montserrat, arial, sans-serif;
  background-color: #33337a;
  border: none;
  outline: 2px solid #fff;
  outline-offset: -2px;
  cursor: pointer;

  &:hover {
    background-color: #4e4e96;
  }

  &-wrapper {
    display: flex;
    width: 100%;
  }
}

.answer-list {
  &__items {
    margin: 9px 0;
    padding: 6px 0;
    padding: 12px 0;
    list-style-type: none;
    background: radial-gradient(#5312ff3b, white);
    border-top: 2px dotted $doubleColor;
  }

  &__item {
    margin: 0 10px;
    line-height: 30px;
    border-bottom: 1px solid $doubleColor;
  }
}
