@font-face {
  font-family: Inter-Regular;
  src: url("./font/Inter-Regular.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #3d76f3;
  --hover-color: #bdae82;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 30px;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Inter-Regular;
}
.header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px double var(--main-color);
}

@media (max-width: 350px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
h1.header-name {
  font-size: 26px;
  color: var(--main-color);
  cursor: default;
}
.header-search-input {
  width: 160px;
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 20px;
}
.form {
  display: flex;
}
.search-reset {
  position: relative;
}
.search-reset::before,
.search-reset::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: #000000;
  right: 28px;
  top: 9px;
  transform: rotate(45deg);
  cursor: pointer;
}
.search-reset::after {
  transform: rotate(-45deg);
}

.arr-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.arr-img img {
  padding: 15px;
  width: 50%;
}
@media (max-width: 500px) {
  .arr-img img {
    width: 300px;
  }
}
.footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top: 2px double var(--main-color);
}

.rs-school {
  background-image: url("./svg/rs_school_js.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 27.75px;
  transition: 0.4s;
  filter: invert(100%) sepia(1%) saturate(100%) hue-rotate(10deg)
    brightness(100%) contrast(100%);
}
.rs-school:hover {
  filter: invert(24%) sepia(6%) saturate(1637%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.footer-data {
  display: flex;
  width: 190px;
  gap: 10px;
  color: var(--main-color);
  cursor: default;
}
.footer-data a:hover {
  color: var(--hover-color);
}
.footer-data a {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}
