$mainColor: #fafafa;
body {
  display: flex;
  justify-content: center;
  color: $mainColor;
  background: black;
  max-width: 100%;
}
.clock{
  position: relative;
  width: 200px
}
.circle{
  width:198px;
  height: 198px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.arrowHour{
  position: absolute;
  left: 50%;
  top: 25%;
  width: 1px;
  height: 50px;
  background-color: #ffffff;
  transform-origin: bottom;
    transform: rotate(1deg);
}
.arrowMinute{
  position: absolute;
  left: 50%;
  top: 10%;
  width: 1px;
  height: 80px;
  background-color: #ffffff;
  transform-origin: bottom;
    transform: rotate(1deg);
}